{% extends 'base.html' %}
<link href="style.css" rel="stylesheet"> {% load cart %} {% load custom_filter %} {% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	* {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}

	.hero {
		width: 100%;
	}

	.row {
		width: 90%;
		height: 100vh;
		margin: 25px 150px 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.col {
		flex-basis: 45%;
	}

	.slider {
		height: 80vh;
		display: flex;
	}

	.product img {
		height: 19vh;
		margin-bottom: 9px;
		cursor: pointer;
		opacity: 0.6;
	}

	.product img:hover {
		opacity: 1;
	}

	.preview img {
		height: 100%;
	}

	p {
		margin-bottom: 15px;
	}

	stock {
		font-family: oblique;
		background: red;
		width: fit-content;
		color: #fff;
		font-size: 15px;
		padding: 3px 5px;
	}

	.brand {
		font-family: oblique;
		background: #555;
		width: fit-content;
		color: #fff;
		font-size: 15px;
		padding: 3px 5px;
	}

	h2 {
		font-family: oblique;
		font-size: 40px;
		color: #000;
		margin-bottom: 15px;
	}

	h3 {
		font-family: oblique;
		font-size: 19px;
		color: #000;
		margin-bottom: 20px;
	}

	h4 {
		font-family: oblique;
		font-size: 19px;
		color: #000;
		margin-bottom: 20px;
	}

	h5 {
		font-family: oblique;
		font-size: 19px;
		color: #000;
		margin-bottom: 15px;
	}

	.price {
		font-family: oblique;
		color: #fe980f;
		font-size: 23px;
		font-weight: bold;
		padding-top: 0px;
	}

	input {
		width: 30px;
		border: 1px solid #ccc;
		font-weight: bold;
		text-align: center;
	}

	button {
		color: #fff;
		font-size: 15px;
		outline: none;
		border: 0;
		border-radius: 5px;
		background: #fe980f;
		padding: 10px 15px;
		box-sizing: border-box;
		cursor: pointer;
	}

	button .fa {
		margin-right: 10px;
	}

	.related {
		width: 90%;
		margin: 0 auto 40px;
	}

	.related .row {
		width: 100%;
		height: auto;
	}

	.columns {
		flex-basis: 22%;
		height: 100%;
	}

	.items img {
		width: 100%;
	}

	.details {
		margin-top: 20px;
	}

	.details p {
		font-family: oblique;
		font-size: 14px;
		margin-bottom: 10px;
	}

	.details .rating {
		margin: 10px 0;
	}

	.bolded {
		font-weight: bold;
	}

	.accordion .card-header:after {
		font-family: 'FontAwesome';
		content: "\f068";
		float: right;
	}

	.accordion .card-header.collapsed:after {
		/* symbol for "collapsed" panels */
		content: "\f067";
	}

label.radio{cursor: pointer}
label.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}
label.radio span{padding: 2px 9px;border: 2px solid #555;display: inline-block;color: #555;border-radius: 3px;text-transform: uppercase}
label.radio input:checked+span{border-color: #555;background-color: #555;color: #fff}
label.radio input:disabled+span{border-color: #babdac;background-color: #babdac;color: #fff}


</style>
<div class="hero">
	<div class="row">
		<div class="col">
			<div class="slider">
				<div class="product"> 
					{% for image in product.image_url %}
					<img src={{image}} alt="" onclick="clickme(this)">
					{% endfor %}
				</div>
				<div class="preview"> <img src={{product.image_url.0}} id="imagebox" alt=""> </div>
			</div>
		</div>
		<div class="col">
			<div class="content">
				<p class="brand">Brand: {{product.brand}}</p>
				<h2>{{product.name}}</h2>
				<h5>{{product.category}} </h5>
			</div>
			<h4>Color: {{product.color|upper}}</h4>
			<p class="price">Price: {{product.price}} {{product.currency}}</p>
			<h6 class="text-uppercase">Size: </h6>
				{% for size in product.skus %}
				{% if size.out_of_stock %}
			</h6> <label class="radio"> <input type="radio" name="size" value="S" disabled> <span>{{size.size}}</span> </label> </h6>
				{% else %}
			<label class="radio"> <input type="radio" name="size" value="M" checked> <span>{{size.size}}</span> </label> </h6>
				{% endif %}
				{% endfor %}
		
			{% comment %} <h4>Size: <select name="size">
					{% for size in product.skus %}
					{% if size.out_of_stock %}
					<option value="small" disabled>{{size.size}}</option>
					{% else %}
					<option value="small">{{size.size}}</option>
					{% endif %}
					{% endfor %}
				</select></h4> {% endcomment %}
		
			<h3 class="mt-3 mb-4">Description: {{product.description}}</h3>

			{% if not user.is_superuser %}
			<form action="/update_cart/{{product.retailer_sku}}/{{availability}}" method="POST">
				{% csrf_token %}
				{% if availability %}
				<input hidden type="text" name='product' value='{{product.retailer_sku}}'>
				<button type="submit" class="btn float-left btn-warning col-lg-2" id"cart"> Add to Cart <svg
						xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
						class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
						<path
							d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
					</svg></button> 

					{% if product|is_in_cart:request.session.cart %}
					<input style="font-size:24px;" class="quantity" id="quantity" min="1" max="5" name="quantity" value="{{product|cart_quantity:request.session.cart}}" type="number">
					{% else %}
					<input style="font-size:24px;" class="quantity" id="quantity" min="1" max="5" name="quantity" value="1" type="number">
					{% endif %}	

				{% endif %}

				{% if not availability %}
				<p style="color:red; font-size:20px; font-weight: bold; ">Out of Stock </p>
				<button type="submit" class="btn float-left btn-warning col-lg-2" id"cart" disabled> Add to Cart <svg
						xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
						class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
						<path
							d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
					</svg></button><br>
				{% endif %}
			</form>
			{% endif %}
			
			<br><br>
			<div id="accordion" class="accordion">
				<div class="card mb-0">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
						<a class="card-title">
							Fit
						</a>
					</div>
					<div id="collapseOne" class="card-body collapse" data-parent="#accordion">
						<li>Tapered fit with graded inseam</li>
						<li>Easy &amp; Updated fit for 2022</li>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
						href="#collapseTwo">
						<a class="card-title">
							Care
						</a>
					</div>
					<div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
						<li>Machine wash cold, tumble dry low; remove promptly</li>
						<li>Naturally wrinkle resistant; cool iron if needed</li>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
						href="#collapseThree">
						<a class="card-title">
							Returns &amp; Payments
						</a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<li>Free Shipping &amp; Returns*</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script >
	function clickme(smallImg) {
		var fullImg = document.getElementById("imagebox");
		fullImg.src = smallImg.src;
	}
</script> 
{% endblock body %}