{% extends 'base.html' %}
{% block body %}
<style>
	h1 {
		color: black;
		font-family: verdana;
		font-size: 300%;
	}

	h5 {
		color: black;
		font-family: verdana;
		font-size: 150%;
	}
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active"> <img class="mw-100" src="https://www.datocms-assets.com/16284/1660758882-fw22hompagebanner-2.jpg?q=50&auto=format&dpr=1&w=2000&fit=crop" alt="First slide"></div>
	</div>
</div>
<br>
<br>
<div class="container my-4">
	<div class="jumbotron">
		<h1 class="text-center">WELCOME</h1>
	</div>
	<section class="py-0 py-md-4 bg-white position-relative" style="z-index: -1;">
		<div class="container container pt-5 pb-2 pb-md-5">
			<div class="row">
				<div class="col-md-12 col-lg-7 px-4 px-md-5 align-self-center">
					<h5 class="g-light px-0 px-md-5" style="text-align: justify;">“Shop Wize’s bet on “work leisure”
						clothing reflects recent
						industry predictions for “hybrid clothing lines” that are both comfortable and professional.”
						The Store For Online Shopping In Pakistan To Provide Thousands Of Products
						At One Stop</h5>
					<h6 class="text-right g-book pr-4 pr-md-5 mt-5">EDITED GROUP</h6>
				</div>
				<div class="col-md-12 col-lg-5"> <img class="w-100 img-fluid" src="https://scontent.flyp7-1.fna.fbcdn.net/v/t39.30808-6/299786020_5409370575782729_2568308294555913138_n.jpg?stp=dst-jpg_p180x540&_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=wUDn9ugg_EIAX8_jrpO&_nc_ht=scontent.flyp7-1.fna&oh=00_AT-8s9nYCfhtwmaWnbYOXBcaF2MEZKYP14Cls_DPQI7VAA&oe=6331528B" alt="img"> </div>
			</div>
		</div>
	</section>
</div>
<br>
<div class="album py-5 bg-light">
	<div class="container my-4">
		<div class="container">
			<div class="jumbotron">
				<h1 class="text-center">CATEGORIES</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card-body">
					<h2 class="card-text">All</h2>
				</div>
				<div class="card mb-4 shadow-sm"> <a href="/products/All"> <img src="https://cdn-yotpo-images-production.yotpo.com/instagram/66/17911472672377866/low_resolution.jpg" width="300" height="550" ,
						class="d-block w-100" alt="..."> </a></div>
			</div>
			<div class="col-md-4">
				<div class="card-body">
					<h2 class="card-text">Men</h2>
				</div>
				<div class="card mb-4 shadow-sm"> <a href="/categories/Men"> <img src="https://www.datocms-assets.com/16284/1662051919-50_50-0004_m-s-fall-layers-1.jpg?q=50&auto=format&dpr=1&w=645&h=645&fit=crop" width="300" height="550" ,
						class="d-block w-100" alt="..."> </a> </div>
			</div>
			<div class="col-md-4">
				<div class="card-body">
					<h2 class="card-text">Women</h2>
				</div>
				<div class="card mb-4 shadow-sm"> <a href="/categories/Women"> <img src="https://www.datocms-assets.com/16284/1662051925-50_50-0005_w-s-fall-layers-1.jpg?q=50&auto=format&dpr=1&w=645&h=645&fit=crop" width="300" height="550" ,
						class="d-block w-100" alt="..."> </a> </div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>

<div class="col-md-12">
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">REASONS TO SHOP</h1>
		</div>
		<div class="facilities-box pt-2 pb-5 text-center animatedParent animateOnce ">
			<h3 class="mt-bold text-uppercase heading mt-5 mb-0 animated fadeInDown go"></h3>
			<ul class="d-block p-0 text-center justify-content-center w-75 mx-auto position-relative">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4">
						<li class="d-inline-block mt-5 text-blue mt-medium animated fadeInUp go"> <img class="mw-100" width="200" height="200" 
								src="https://indyme.com/wp-content/uploads/2020/11/lock-icon.png" class="d-block mb-3 mx-auto">
							<h5>Safe &amp; Secure</h5>
							<p class="ft-14">We ensure your personal information is kept safe and secure.
							</p>
						</li>
					</div>
					<div class="col-12 col-lg-4 col-md-4">
						<li class="d-inline-block mt-5 text-blue mt-medium animated fadeInUp go"> <img class="mw-100" width="200" height="200" 
								src="https://www.seekpng.com/png/small/102-1020131_transparent-background-smiley-face-png.png" class="d-block mb-3 mx-auto">
							<h5>Easy Booking</h5>
							<p class="ft-14">We make online ordering simple and easy.</p>
						</li>
					</div>
					<div class="col-12 col-sm-4 col-md-4">
						<li class="d-inline-block mt-5 text-blue mt-medium animated fadeInUp go"> <img class="mw-100" width="200" height="200" 
								src="https://www.svgrepo.com/show/223160/rupee.svg" class="d-block mb-3 mx-auto">
							<h5>Best Rates</h5>
							<p class="ft-14">We offer the best deals and the lowest rates.</p>
						</li>
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>
{% endblock body %}
